<mat-accordion multi="true" hideToggle>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Web Developer </mat-panel-title>
      <mat-panel-description> Total Duration : 3 hours </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. WEB</p>
    <mat-action-row> <button mat-button>Join</button> </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> MEAN </mat-panel-title>
      <mat-panel-description> Total Duration : 2 hours </mat-panel-description>
    </mat-expansion-panel-header>
    <p>This is the panel content. MEAN</p>
    <mat-action-row> <button mat-button>Join</button> </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
