<!-- <app-typography></app-typography> -->

<nav>

  <button routerLink="/typography">Typography</button>
  <!-- <a routerLink="/typography" routerLinkActive="active">Typography</a> -->
  <button routerLink="/button">Button</button>
  <button routerLink="/button-toggle">Button-toggle</button>
  <button routerLink="/icon">Icon</button>
  <button routerLink="/badges">Badges</button>
  <button routerLink="/progress-spinner">Progress-spinner</button>
  <button routerLink="/navbar">Navbar(Toolbar)</button>
  <button routerLink="/sidenav">Sidenav</button>
  <button routerLink="/menu">Menu</button>
  <button routerLink="/list">List</button>
  <button routerLink="/grid-list">Grid-List</button>
  <button routerLink="/expansion-panel">Expansion-panel</button>
  <button routerLink="/card">Cards</button>
  <button routerLink="/tabs">Tabs</button>
  <button routerLink="/stepper">Stepper</button>
  <button routerLink="/input">Input</button>
  <button routerLink="/select">Select</button>
  <button routerLink="/autocomplete">Autocomplete</button><br>
  <button routerLink="/checkbox">Checkbox</button>
  <button routerLink="/radio-button">Radio-button</button>
  <button routerLink="/date-picker">Date-picker</button>
  <button routerLink="/tool-tip">Tool-tip</button>
  <button routerLink="/snackbar">Snackbar</button>
  <button routerLink="/dialog">Dialog</button>
  <button routerLink="/data-table">Data-table</button>
  <button routerLink="/virtual-scroll">Virtual-scroll</button>




</nav>
<router-outlet></router-outlet>
